 #logo {
     height: 90px;
     width: 100px;
     margin-left: 25px;
     margin-right: 250px;
 }

 .navbar {
     background-color: #EAE4DD;
     position: fixed;
     width: 100%;
 }

 .navbar-dark .navbar-nav .nav-link {
     color: black;
     font-size: 25px;
     margin: 23px;
     padding: 7px;
 }

 .navbar-nav {
     margin-right: 38px;
 }

 .nav-link {
     color: #ffffff;
     text-decoration: none;
     font-size: 18px;
     padding: 10px 15px;
     transition: background-color 0.3s ease;
 }

 .nav-link:hover {
     background-color: #2f3232;
     color: #000;
 }

 #dropimg {
     height: 135px;
     width: 200px;
 }

 #dropimg1 {
     height: 135px;
     width: 200px;
 }

 ul#face.dropdown-menu.dropdown-menu-dark {
     margin: 0px;
     /* padding: 0px; */
     min-width: 0;
 }

 .navbar-dark .navbar-nav .nav-link:focus {
     background-color: #2f3232;
     color: #000;
     color: rgba(255, 255, 255, .75);
 }

 @media screen and (max-width: 600px) {


     #logo {
         height: 190px;
         width: 200px;
         margin-left: 90px;
         margin-right: 0px;
         border: 1px solid black;

     }

     .navbar.container-fluid {
         display: block;
         width: auto;
     }

     .collapse:not(.show) {
         display: block;
     }

     .navbar {
         position: static;
     }
 }




 @media screen and (max-width: 900px) and (min-width: 600px) {

     .navbar-dark .navbar-nav .nav-link {
         font-size: 18px;
         margin: 10px;
         padding: 3px;
     }

     .navbar-nav {
         margin-right: 3px;
     }

     .nav-link {

         font-size: 10px;
         padding: 5px 12px;

     }

     #dropimg {
         height: 100px;
         width: 190px;
     }

     #logo {

         margin-left: 5px;
         margin-right: 50px;
     }

     #dropimg1 {
         height: 100px;
         width: 140px;
     }
 }




 /* ><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<slider>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>............... */



 .swiper {
     position: absolute;
     z-index: -1;
     width: 100%;
     height: 650px;
     top: 120px;
 }

 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 @media screen and (max-width: 600px) {

     .swiper {
         position: absolute;
         z-index: -1;

         top: 520px;
     }

     .swiper-slide img {
         /* width: 100%; */
         height: auto;
     }


 }


 .about {
     height: 80px;
     width: 100%;
     background-color: #000;
     position: absolute;
     top: 780px;
     text-align: center;
     color: #EAE4DD;
     z-index: -1;
 }

 p {
     color: #000;
 }

 @media screen and (max-width: 600px) {
     .about {
         position: absolute;
         top: 1000px;
     }

     .swiper-pagination {
         display: none;
         /* Hide the pagination on small screens */
     }
 }


 /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<products>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



 .card-group {
     position: absolute;
     top: 1000px;
     z-index: -1;
     left: 70px;

 }

 .card-group.g1 {
     position: absolute;
     top: 982px;
     z-index: -1;
     left: 700px;

 }

 .card-group.g2 {
     position: absolute;
     top: 1500px;
     z-index: -1;
     left: 70px;

 }

 .card-group.g3 {
     position: absolute;
     top: 1500px;
     z-index: -1;
     left: 500px;

 }


 .card-img-top {
     height: 350px;
     width: 350px;
 }

 .card.ca1 {
     margin: 30px;
     margin-left: 40px;
     width: 350px;
     height: 450px;
     text-align: center;
     left: 50px;
 }

 .card.ca2 {
     margin: 30px;
     margin-left: 40px;
     width: 350px;
     height: 450px;
     text-align: center;
     left: 100px;
 }

 .card.ca3 {
     margin: 50px;
     width: 350px;
     height: 450px;
     text-align: center;
     left: 270px;
 }

 .card.ca4 {
     margin: 30px;
     margin-left: 40px;
     width: 350px;
     height: 450px;
     text-align: center;
     left: 50px;
 }


 .card.ca5 {
     margin: 30px;
     margin-left: 40px;
     width: 350px;
     height: 450px;
     text-align: center;
     left: 50px;
 }

 .card.ca6 {
     margin: 30px;
     margin-left: 40px;
     width: 350px;
     height: 450px;
     text-align: center;
     left: 94px;
 }



 .ca1:hover #p1 {
     content: url('p11.png');
     height: 350px;
     width: 330px;
 }


 .ca1:hover .card-text::after {
     content: "PRIZE:$36  //  BUY NOW";
     display: block;
     border: 2px solid #000;
     padding: 7px;
     background-color: rgba(212, 152, 152, 0.75);
 }

 .ca1:hover {
     border: 3px solid black;

 }

 .ca2:hover #p2 {
     content: url('p22.png');
     height: 300px;
     width: 100px;

 }


 .ca2:hover .card-text::after {
     content: "PRIZE:$53  //  BUY NOW";
     display: block;
     border: 2px solid #000;
     padding: 7px;
     background-color: rgba(212, 152, 152, 0.75);
 }

 .ca2:hover {
     border: 3px solid black;

 }


 .ca3:hover #p3 {
     content: url('p33.png');
     height: 350px;
     width: 330px;
 }


 .ca3:hover .card-text::after {
     content: "PRIZE:$66  //  BUY NOW";
     display: block;
     border: 2px solid #000;
     padding: 7px;
     background-color: rgba(212, 152, 152, 0.75);
 }

 .ca3:hover {
     border: 3px solid black;

 }

 .ca4:hover #p4 {
     content: url('p44.png');
     height: 350px;
     width: 330px;
 }


 .ca4:hover .card-text::after {
     content: "PRIZE:$56  //  BUY NOW";
     display: block;
     border: 2px solid #000;
     padding: 7px;
     background-color: rgba(212, 152, 152, 0.75);
 }

 .ca4:hover {
     border: 3px solid black;

 }



 .ca5:hover #p5 {
     content: url('p55.png');
     height: 350px;
     width: 330px;
 }


 .ca5:hover .card-text::after {
     content: "PRIZE:$55  //  BUY NOW";
     display: block;
     border: 2px solid #000;
     padding: 7px;
     background-color: rgba(212, 152, 152, 0.75);
 }

 .ca5:hover {
     border: 3px solid black;

 }


 .ca6:hover #p6 {
     content: url('p66.png');
     height: 350px;
     width: 330px;
     margin-left: 10px;
 }


 .ca6:hover .card-text::after {
     content: "PRIZE:$97  //  BUY NOW";
     display: block;
     border: 2px solid #000;
     padding: 7px;
     background-color: rgba(212, 152, 152, 0.75);
 }

 .ca6:hover {
     border: 3px solid black;

 }

 @media screen and (max-width: 900px) and (min-width: 600px) {

     .card-group {
         position: absolute;
         top: 1020px;
         z-index: -1;
         left: 10px;
     }

     .card-group.g1 {
         position: absolute;
         top: 1480px;
         z-index: -1;
         left: 1px;
     }

     .card-group.g2 {
         top: 1490px;
         left: 310px;
     }

     .card-group.g3 {
         top: 1960px;
         left: 0px;
     }

     .card.ca1 {
         margin: 25px;
         margin-left: 12px;
         left: 18px;
     }

     .card.ca2 {
         margin: 30px;
         margin-left: 40px;
         width: 350px;
         height: 450px;
         text-align: center;
         left: 5px;
     }

     .card.ca3 {
         margin: 38px;
         left: 0px;
     }

     .card.ca5 {
         left: 1px;
     }

     .card.ca6 {
         margin: 27px;
         margin-left: 37px;
         left: 0px;
     }

 }


 @media screen and (max-width: 600px) {
     .card-group {
         position: absolute;
         top: 1340px;
         z-index: -1;
         left: 1px;
     }

     .card-group.g1 {
         position: absolute;
         top: 2280px;
         z-index: -1;
         left: 1px;
     }

     .card.ca1 {
         margin: 25px;
         margin-left: 30px;
         left: 7px;
     }

     .card.ca2 {
         margin-left: 36px;
         left: 5px;
     }

     .card.ca3 {
         margin: 42px;
         left: 0px;
     }

     .card-group.g2 {
         top: 2770px;
         left: 1px;
     }

     .card.ca4 {
         left: 4px;
     }

     .card-group.g3 {
         top: 3250px;
         left: 0px;
     }

     .card.ca5 {
         left: 0px;
     }

     .card.ca6 {
         left: 0px;
     }
 }


 /* ___________________________________________footer____________________________________________________________  */

 .about1 {
     height: 80px;
     width: 100%;
     background-color: #000;
     position: absolute;
     top: 2050px;
     text-align: center;
     color: #EAE4DD;
     z-index: -1;
 }

 p {
     color: #000;
 }

 @media screen and (max-width: 600px) {
     .about1 {
         position: absolute;
         top: 4240px;
     }
 }

 @media screen and (max-width: 900px) and (min-width: 600px) {
     .about1 {
         position: absolute;
         top: 2480px;
     }
 }



 #font {
     font-family: "Dancing Script", cursive;
     font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
 }

 .footer {
     height: 400px;
     width: 100%;
     background-color: rgb(24, 23, 23);
     position: absolute;
     top: 2173px;
     color: #fff;
     text-align: center;
 }

 #S1,
 #S2,
 #S3,
 #S4,
 #S5 {
     margin: 35px;
 }

#S2{
    font-size: 25px;
}

 .fa-brands.fa-linkedin-in,
 .fa-github,
 .fa-envelope {
     font-size: 28px;
 }

 .fa-envelope:hover,
 .fa-github:hover,
 .fa-linkedin-in:hover {
     border: 2px solid floralwhite;
     padding: 5px;
     border-radius: 50%;
 }

 @media screen and (max-width: 900px) and (min-width: 600px) {
     .footer {
         height: 470px;
         position: absolute;
         top: 2600px;
     }

     #S5 {
         display: block;
         margin-top: 20px;
     }

 }

 @media screen and (max-width: 600px) {
     .footer {
         height: 450px;
         position: absolute;
         top: 4360px;
     }
 }